.intervalPicker {
    margin: 4px;
}

.intervalContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.intervalItem {
    margin: 8px;
    font-family: 'Merriweather', serif;
}