.messageToggle {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  align-content: center;
}

.toggleText {
  margin: 4px;
  font-size: 14px;
  font-family: "Merriweather", serif;
}
