.sidepanel {
  height: 100%;
  width: 35%;
  z-index: 1;
  background-color: #ddd9cf;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 1px 0px 2px 2px rgba(20, 6, 0, 0.2);
}

.sidepanel.hidden {
  display: none;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidepanel > *:hover {
  background-color: #ff7f11;
}
