html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

textarea {
  font-size: 13px;
  font-family: 'Merriweather', serif;
}

p {
    padding: 0;
    margin: 0;
    color: #FFFFFC;
    height: fit-content;
    width: fit-content;
}