.pageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  padding-top: 40pt;
  padding-left: 40pt;
  padding-right: 40pt;
  padding-bottom: 40pt;
  background-image: url("https://images.unsplash.com/photo-1529569746116-50b8c3dac4d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80");
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
  flex-shrink: 0;
}

.configPage {
  background-color: white;
  margin-left: 15%;
  margin-right: 2%;
  width: 85%;
  height: 99vh;
  margin-bottom: 1vh;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}
