.topNav {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background-color: #4f1d00;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 4px 2px -2px rgba(20, 6, 0, 0.2);
}

.topNav p {
  font-size: larger;
}

.topNav li {
  float: left;
}

.topNav li.dropdown {
  grid-row: 1;
  grid-column: 1;
  border-top-left-radius: 8px;
  display: inline-block;
  align-self: center;
  justify-self: flex-start;
  height: 100%
}

.topNav li .dropdownItem,
.dropbtn {
  display: inline-block;
  color: #fffffc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 100%;
  cursor: default;
}

.topNav li .dropdownItem:hover,
.dropdown:hover .dropbtn {
  background-color: #ff7f11;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #aaa188;
  max-height: 50vh;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;
}

.topNav .dropdown .dropdownContent .dropdownItem {
  color: #fffffc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownContent .dropdownItem:hover {
  background-color: #fffffc;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.title {
  grid-row: 1;
  grid-column: 2 / span 2;
  align-self: center;
  justify-self: center;
  font-family: 'Pacifico', cursive;
  font-size: larger;
}
