.contentContainer {
  display: grid;
  align-content: flex-start;
  box-sizing: border-box;
  background-color: #ddd9cf;
  width: 50vw;
  border-radius: 8px;
  box-shadow: 0px 16px 32px 0px rgba(20, 6, 0, 0.7);
  grid-template-rows: 6% 94%;
}

.content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto 1fr;
  align-content: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;

  overflow-y: auto;
  box-sizing: border-box;
}
