

.snackbar, .snackbarshow {
  min-width: 300px;
  max-width: fit-content;
  bottom: 30px;
  left: 0;
	right: 0;
  margin: auto;

  border: solid #4f1d00;
  border-radius: 20px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  
  font-family: 'Merriweather', serif;
  font-size: 17px;
  color: #fff;
  text-align: center;

  box-shadow: 0px 8px 16px 0px rgba(20, 6, 0, 0.7);
  }

  .otherOptions {
    background-color: #8b887e;
  }

  .showError {
    background-color: #E5103E;
  }

  .showSucces {
    background-color:  #4f1d00;
  }

  .snackbar {
    visibility: hidden;
  }
  
  .snackbarshow {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.0s;
    animation: fadein 0.5s, fadeout 0.5s 1.0s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }