.messageConfigContainer {
  display: grid;
  align-content: flex-start;
  grid-template-rows: auto 1fr;
  border-width: 1px 1px 1px 1px;
  width: 100%;
  height: 100%;
  align-content: center;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(20, 6, 0, 0.2);
  background-color: #f7f6f3;
}

.messageConfigContainer form {
  height: 100%;
}

.topnav {
  display: flex;
  padding-right: 8px;
  background-color: #4f1d00;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.topnav select {
  float: left;
  align-self: center;
  display: block;
  color: black;
  padding: 2px;
  text-decoration: none;
  font-size: 14px;
  width: fit-content;
  font-family: "Merriweather", serif;
  background-color: #f7f6f3;
}

.topnav select option {
  font-family: "Merriweather", serif;
  background-color: #f7f6f3;
}

.topnav button {
  float: right;
  padding: 6px;
  font-size: 14px;
}

.msgTextArea {
  border: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  resize: none;
  padding: 8px;
  height: 100%;
  background: none;
}

.submitButton {
  margin: 4px;
  background-color: #249456;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #efefef;
  font-family: "Inconsolata", monospace;
  box-shadow: 0px 2px 4px 0px rgba(20, 6, 0, 0.7);
}

.undoButton {
  margin: 4px;
  background-color: #e5103e;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #efefef;
  font-family: "Inconsolata", monospace;
  box-shadow: 0px 2px 4px 0px rgba(20, 6, 0, 0.7);
}

.burger {
  background-color: transparent;
  color: #efefef;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  height: 100%;
}
