.variableItem {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 4px;
    row-gap: 2px;
    overflow-wrap: anywhere;
    color: #1a1a1a;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.code {
    grid-column: 1;
    grid-row: 1;
}

.description {
    grid-column: 2;
    grid-row: 1;
}

.currentValue {
    grid-column: 1 span 2;
    grid-row: 2;
}